<h4>Kommuner i Norge</h4>
<p>Henter inn en oppdatert liste over kommuner i Norge.</p>
{% if kommunerViIkkeHar is defined and kommunerViIkkeHar|length > 0 %}
	<p>Det finnes {{ kommunerViIkkeHar|length }} kommuner i Norge som ikke finnes i smartukm_kommune-tabellen! Disse må vurderes manuelt og eventuelt legges inn - det finnes kommuner som ikke skal være med som Oslo osv.</p>
	<div>
		<a href="#" id="kommunerViIkkeHarTrigger">Vis listen over kommuner vi ikke har</a>
		<div style="display:none;" id="kommunerViIkkeHarListe">
			<table class="table table-striped">
			{% for kommune in kommunerViIkkeHar %}
				<tr><td>{{ kommune.tittel }}</td><td>{{ kommune.kode }}</td></tr>
				{% if not kommune.note is empty %}
					<tr><td colspan="2">{{ kommune.note }}</td></tr>
				{% endif %}
			{% endfor %}
			</table>
		</div>
	</div>
{% endif %}
<br>
{% if kommunerViHarSomIkkeFinnesLenger is defined and kommunerViHarSomIkkeFinnesLenger|length > 0 %}
	<p>Det finnes {{ kommunerViHarSomIkkeFinnesLenger|length }} kommuner i smartukm_kommune-tabellen som ikke finnes i Norge lengre.</p>
	<div>
		<a href="#" id="kommunerViHarSomIkkeFinnesLengerTrigger">Vis listen over kommuner vi har som ikke finnes lengre</a>
		<div style="display:none;" id="kommunerViHarSomIkkeFinnesLengerListe">
			<table class="table table-striped">
			{% for kommune in kommunerViHarSomIkkeFinnesLenger %}
				<tr><td>{{ kommune.name }}</td><td>{{ kommune.idfylke }}</td></tr>
			{% endfor %}
			</table>
		</div>
	</div>

	<script>
		jQuery("#kommunerViHarSomIkkeFinnesLengerTrigger").click(function() {
			if(jQuery("#kommunerViHarSomIkkeFinnesLengerListe").is(":hidden")) {
				jQuery("#kommunerViHarSomIkkeFinnesLengerListe").slideDown();
				jQuery("#kommunerViHarSomIkkeFinnesLengerTrigger").html("Skjul listen over kommuner vi har som ikke finnes lengre");
			}
			else {
				jQuery("#kommunerViHarSomIkkeFinnesLengerListe").slideUp();
				jQuery("#kommunerViHarSomIkkeFinnesLengerTrigger").html("Vis listen over kommuner vi har som ikke finnes lengre");
			}
		});

		jQuery("#kommunerViIkkeHarTrigger").click(function() {
			if(jQuery("#kommunerViIkkeHarListe").is(":hidden")) {
				jQuery("#kommunerViIkkeHarListe").slideDown();
				jQuery("#kommunerViIkkeHarTrigger").html("Skjul listen over kommuner vi ikke har");
			}
			else {
				jQuery("#kommunerViIkkeHarListe").slideUp();
				jQuery("#kommunerViIkkeHarTrigger").html("Vis listen over kommuner vi ikke har");
			}
		});
	</script>
{% endif %}