<div class="col-xs-12">

    {% if GET('do') is not empty %}
        <h1>Rydder opp UKM.no</h1>

        <p class="lead">
            Ikke forlat siden før du får beskjed om at alle sider er gjennomgått.
        </p>

        <div class="alert alert-info" id="status" style="display: none;"></div>

        <div id="workList">
            <div id="toClean">
                <h3>Sider som skal gjennomgås</h3>
                <ol class="list-group" id="cleanList">
                    {% for blog in blogs %}
                        <li class="list-group-item" id="blog_{{blog.id}}" data-id="{{ blog.id }}" data-domain="{{ blog.domain }}" data-path="{{ blog.path }}">
                            <span class="loading">
                            <img src="/wp-admin/images/wpspin_light.gif"/></span>
                            {{ blog.path }}
                        </li>
                    {% endfor %}
                </ol>
            </div>


            <h3>Sider som er gjennomgått</h3>
            <ol class="list-group" id="cleanedList"></ol>
        </div>

    {% else %}
        <h1>Rydd opp på UKM.no</h1>

        <p class="lead">
            Fjerner alle arrangementssider, og overfører nyheter til kommune/fylkessiden.
        </p>

        <p class="alert alert-danger">
            OBS: i dag flyttes ingen nyheter automatisk, og siden merkes som slettet, men slettes ikke.
            Dette må det ryddes i manuelt.
        </p>

        <p>
            <a href="?page={{ GET('page') }}&action={{ GET('action') }}&do=true" class="btn btn-warning">
                Start opprydding
            </a>
        </p>
    {% endif %}
</div>